body {
    margin: 20px;
}

#connection-status {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
}

#connection-status.connected    { background-color: #5cb85c; }
#connection-status.error        { background-color: #d9534f; }
#connection-status.disconnected { background-color: gray; }

ul#key li {
    margin-right: 1px;
    display: inline;
}

ul#workers li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 1px 1px 0;
}

.connecting  { background: #f0ad4e; }
.waiting     { background: #999; }
.downloading { background: #5cb85c; }
.error       { background: #d9534f; }

ul#files li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.icon {
    font-size: 2.5em;
    line-height: 1em;
    margin-right: 10px;
    color: #9cf;
}

.filename {
    font-weight: bold;
}