body {
    margin: 20px;
}

ul#workers {
    clear: both;
}

ul#key li {
    margin-right: 1px;
    display: inline;
}

ul#workers li {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 1px 1px 0;
}

.waiting     { background: #999; }
.downloading { background: #5cb85c; }
.fatal       { background: #d9534f; }
.pinging     { background: #428bca; }

#downloads {

}

ul#downloads li {
    padding:  5px 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#downloads h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

#downloads h4 .glyphicon { margin-right: 5px; }

#downloads p {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    color: #666;
    font-style: italic;
}

#downloads p span.data {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    color: #369;
}

#downloads .status {
    float: right;
}
